body {
  background-color: #41b3a3;
}

header {
  background-color: #e27d60;
  text-align: center;
  padding-bottom: 5px;
  border-radius: 25px;
}

header ul {
  list-style-type: none;
}

header li {
  display: inline-block;
  margin: 0px 5px;
  padding: 10px;
  border: 1px solid black;
  border-radius: 5px;
  background-color: #fcedd8;
  box-shadow: 0px 5px #323232;
}

header li:hover {
  background-color: #f8d7a9;
  transform: translateY(5px);
  box-shadow: 0 0 0;
}

header a {
  text-decoration: none;
}

.brand {
  display: flex;
  align-items: center;
}

.brand img {
  margin-right: 125px;
}

h1 {
  font-size: 75px;
  color: #fcedd8;
  text-shadow: 5px 5px 0px black;
}

h2 {
  font-size: 35px;
  text-shadow: 5px 5px 0px #fcedd8;
}

.contentContainer {
  display: flex;
  justify-content: space-around;
}

#containerLeft__fishList, 
#containerLeft__travelQuotes, 
#containerLeft__travelLocations {
  background-color: #85cdca;
  margin: 10px;
  border: 1px solid black;
  text-align: center;
  border-radius: 5px;
}

.contentArticle {
  display: flex;
  justify-content: space-around;
  padding: 10px 5px;
}

.fishCard, 
.quoteCard, 
.locationCard{
  background-color: #e8a87c;
  margin: 15px;
  border: 1px dashed black;
  padding: 10px;
}

.fishCard:hover, 
.quoteCard:hover, 
.locationCard:hover {
  box-shadow: 0px 5px 10px;
}

.fishCard img, 
.locationCard img{
  width: 200px;
}

.quoteCard {
  border-radius: 25px;
}

.containerRight {
  margin: 10px;
  padding: 10px;
  border: 1px solid black;
  text-align: center;
  background-color: #85cdca;
  flex-basis: 25%;
}

.containerRight ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  text-align: left;
}

.containerRight li {
  background-color: #e8a87c;
  padding: 10px;
  margin: 10px;
  border: 1px dashed black;
}

.containerRight li:hover {
  box-shadow: 0px 5px 10px;
}

footer {
  padding: 10px;
  background-color: #e27d60;
  display: flex;
  justify-content: space-around;
  align-items: center;
  border-radius: 25px;
}